<!-- public/views/userView.html -->

<div class="col-sm-6 col-sm-offset-3">
    <div class="well">
        <h3>Users</h3>  
        <button class="btn btn-primary" style="margin-bottom: 10px" ng-click="user.getUsers()">Get Status!</button>
        <ul class="list-group">
            <li class="list-group-item">
                <h4>Auth Method: {{user.user.auth}}</h4>
                <h5>Status: {{user.user.status}}</h5>
            </li>
        </ul>
        <div class="alert alert-danger" ng-if="user.error">
            <strong>There was an error: </strong> {{user.error.error}}
            <br>Please go back and login again
        </div>
    </div>
</div>